@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.mydisplay {
  animation: slideIn 1s forwards; 
  cursor: pointer;
}

.mydisplay:hover
{
  opacity: 0.8;
}

.form {
  padding: 20px;
}


@media (max-width: 768px) {
  .form {
    font-size: 10px;
  }
}
